{%extends 'all-pics/base.html'%} 
{% block content %}
<div class="container" style="margin-top: 200px">

  <div class="row">
    {% if profiles %}
      <h2>Found {{ profile|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 profiles for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if profiles %}
    {% for profile in profiles %}
      <div class="col-sm-6 col-md-12">
          <h1>{{profile.user}}</h1>
          <img src="{{profile.profile_photo.url}}" style="width: 70%;">
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}